{% extends 'base.html.twig' %}

{% block title %}BienLocController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Hello </h1>
<pre>
    {{ dump(bienList) }}
</pre>
    
</div>
{% endblock %}
