{% extends 'base.html.twig' %}

{% block title %}Hello ResaController!{% endblock %}

{% block body %}
<div class="container my-3">
    <div class="row">
        <div id="calendar"></div>
    </div>
</div>
{% endblock %}
